@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:wght@400;500;700&display=swap');
    
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    

        background: linear-gradient(120deg, #1914AE,#191919 );
     
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        z-index: 999px;    
}

header > div > h1{
color: #fff;
align-items: center;
justify-content: center;
display: flex;
font-size: 50px;
}

header > div > p{
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    color: rgb(82, 84, 238)


}

body{
height: 100vh;
background: linear-gradient(120deg, #1914AE,#191919 );
display: flex;
align-items: center;
justify-content: center;

}

.clock{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    padding: 30px;
    
}

.clock .box{
    height: 160px;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #3c61dc;
    box-shadow: 10px 10px 17px rgba(0,0,0,.9);
    border-radius: 7px;
    letter-spacing: 3px;
    
}

.clock .box.seconds{
    background-color: #5713ad;


}

.clock span {
    font-size: 60px;
    font-weight: 600;
}

.clock span.time {
    font-size: 14px;

}

@media (max-width: 600px) {
header > div > h1 { font-size: 30em }

}
